header.header-container {
    background-color: #222121 !important;
}
.iframe-form .iframe-content {
    padding-left: 0;
    padding-right: 5px;
}

.iframe-form .iframe-content .section-container__field {
    padding-left: 0;
    padding-right: 0;
    margin-top: 5px;
    margin-bottom: 0 !important;
}