header.header-container {
    background-color: rgba(255, 255, 255, 1)!important;
    color: rgba(31, 41, 55, 1) !important;
}
.nav-item nav-link .nav-item {
    color: rgba(31, 41, 55, 1) !important;
}
.nav-item nav-link .active {
    color: rgba(31, 41, 55, 1) !important; 
}
.navbar-dark .navbar-nav .nav-link.active {
    color: rgba(31, 41, 55, 1) !important; 
}
.navbar-dark .navbar-nav .nav-link{
    color: rgba(31, 41, 55, 1) !important;
}
body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji" !important
}
.navbar .dynamic-style-child {
    width: 140px !important;
}
.navbar {
    margin-left:115px;
}

.dropdown-nav {
    margin-top:9px;
}
.dropdown-nav .nav-link{
    color: #1f2937!important
}
.dropdown-nav .dropdown-menu {
    padding: 0px !important;
}

.dropdown-nav .dynamic-style-parent {
    border-bottom: 1px solid #dee1e6;
    padding: 5px;;
}


